DongGopTuThien/bin/
DongGopTuThien/obj/Debug/
DongGopTuThien/scratch.md
DongGopTuThien/credentials/
DongGopTuThien/appsettings.json
DongGopTuThien/obj/Debug/net8.0/
DongGopTuThien/appsettings.Development.json
DongGopTuThien/.vs/DongGopTuThien/FileContentIndex/
DongGopTuThien/obj/